<body>

    <div class="container ">
        <div class="row superior ">

            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3  .col-sm-6">

                            <div class="hexagon"></div>


                            <div class=" mx-auto" style="width: 180px;">
                                <img class="icon-under-pic" src="../../../../assets/link.png">
                                <img class="icon-under-pic" src="../../../../assets/LinkedIn.png">
                                <img class="icon-under-pic" src="../../../../assets/Website.png">
                            </div>



                        </div>
                        <div class="col-9  .col-sm-12">

                            <div class="name">Jorge Gasca Bustos</div>
                            <div class="row">
                                <div class="col under-name">20 Signals recibidos</div>
                                <div class="col under-name">2k contactos</div>
                                <div class="col under-name">0 Peso de la recomendación</div>
                                <div class="col"></div>
                            </div>
                            <div class="work-profile">Gerente de desarrollo de software</div>
                            <p class="descripotion">Software Manager with 10+ years of experience developing creative and well-architected apps and platforms. Passionate for being the bridge between the business vision and the technical complexity achieving a great synergy between
                                both worlds. Looking for architect and develop software solutions that allow to increase company capabilities and reach the business goals. Microservices Rest, Software Architect, Java, Php, TypeScript, Angular2</p>





                        </div>
                    </div>
                </div>
            </div>


            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                    <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"> <span class="badge rounded-pill bg-success">Success</span>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            </div>

        </div>
    </div>
</body>