<body>

    <div class="container ">
        <div class="row superior ">

            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3  .col-sm-6">

                            <div class="hexagon"></div>


                            <div class=" mx-auto" style="width: 180px;">
                                <img class="icon-under-pic" src="../../../../assets/link.png">
                                <img class="icon-under-pic" src="../../../../assets/LinkedIn.png">
                                <img class="icon-under-pic" src="../../../../assets/Website.png">
                            </div>



                        </div>
                        <div class="col-9  .col-sm-12">

                            <div class="name">Jorge Gasca Bustos</div>
                            <div class="row">
                                <div class="col under-name">20 Signals recibidos</div>
                                <div class="col under-name">2k contactos</div>
                                <div class="col under-name">0 Peso de la recomendación</div>
                                <div class="col"></div>
                            </div>
                            <div class="work-profile">Gerente de desarrollo de software</div>
                            <p class="descripotion">Software Manager with 10+ years of experience developing creative and well-architected apps and platforms. Passionate for being the bridge between the business vision and the technical complexity achieving a great synergy between
                                both worlds. Looking for architect and develop software solutions that allow to increase company capabilities and reach the business goals. Microservices Rest, Software Architect, Java, Php, TypeScript, Angular2</p>





                        </div>
                    </div>
                </div>
            </div>



            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Habilidades</a>
                    <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Conducta</a>
                    <a class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Trayectoría</a>
                    <a class="nav-link" id="nav-rep-tab" data-bs-toggle="tab" href="#nav-rep" role="tab" aria-controls="nav-rep" aria-selected="false">Reputación</a>
                    <a class="nav-link" id="nav-trabajo-tab" data-bs-toggle="tab" href="#nav-trabajo" role="tab" aria-controls="nav-trabajo" aria-selected="false">Trabajo</a>
                </div>
            </nav>
            <div class="tab-content shadow-sm p-3 mb-5 bg-white rounded" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="subtitle">Habilidades actuales:</div>

                    <div class="tab-pane fade show active  " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <span class="badge rounded-pill buble-one ">Negociación</span>
                    </div>

                    <div class="subtitle">Habilidades que quiere desarrollar:</div>

                    <div class="tab-pane fade show active  " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <span class="badge rounded-pill buble-two ">Strategic Thinking</span>
                    </div>

                    <div class="subtitle">Industrias de interés</div>

                    <div class="tab-pane fade show active  " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <span class="badge rounded-pill buble-three ">Tecnología</span>
                    </div>

                    <div class="subtitle">Contacta a JORGE con respecto a:</div>

                    <br/>
                    <div class="row" style="color: black;">
                        <div class="col">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                      </svg> Empleo de tiempo completo o medio tiempo
                            <br/>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                      </svg> Empleo temporal
                            <br/>
                        </div>
                        <div class="col">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                        <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                      </svg> Aconsejar a otros(Advisor)
                            <br/>
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
                        <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                      </svg> Dar mentorias a otros
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"> Conducta - Work in progress</div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"> Trayectoria - Work in progress</div>
                <div class="tab-pane fade" id="nav-rep" role="tabpanel" aria-labelledby="nav-rep-tab">reputacion - Work in progress</div>
                <div class="tab-pane fade" id="nav-trabajo" role="tabpanel" aria-labelledby="nav-trabajo-tab">trabajos - Work in progress</div>
            </div>






        </div>
    </div>
    <app-footer></app-footer>
</body>