.container {
    height: 1160px;
}

.card{
    background-color: #FAFAFA !important;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

div.hexagon { 
    background: url(https://starrgate.s3.amazonaws.com/CACHE/images/users/381377f79a0660b80a209253405fe7cdf9177715/profile_78qbShb/4f1efa55da3c322051a48c3c64560829.jpg);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    margin: 10px auto;
    height: 150px;
    width: 140px;
}



.icon-under-pic{
    width: 40px;
    margin-left: 15px;

}

.name{
    font-family: 'Roboto', sans-serif;
    width: 638px;
    height: 33px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #383B40;
    
}

.under-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #383B40;
}

.work-profile{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #383B40;
}

.descripotion{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    
    color: #5D5E61;
}