<!-- Navigation -->
<nav class="navbar sticky-top  navbar-expand-lg navbar-dark my-nav-bg static-top">
    <div class="container">
        <a class="navbar-brand torre-brand" href="#">
            <img data-url="https://res.cloudinary.com/torre-technologies-co/image/upload/v1601512321/origin/bio/organizations/Torre_logo_small_uubm3e.png" alt="Torre Labs" class="entity-picture__thumbnail entity-picture__thumbnail--image entity-picture__thumbnail--no-margins"
                src="https://res.cloudinary.com/torre-technologies-co/image/upload/v1601512321/origin/bio/organizations/Torre_logo_small_uubm3e.png"> torre </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">





        </div>
    </div>
</nav>